/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* purgecss end ignore */

input[type="text"]::placeholder{
    @apply text-gray-800;
}

.textAera {
    height: 35vh;
}

.dropdown:hover > .dropdown-content {
    display: block;
    left: -75px;
}
textarea {
    @apply border;
    @apply border-black;
}